<head>
    <title>Coaching Kellenberger</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Coaching Kellenberger" />
    <base href="{{ .Site.BaseURL }}" />

    <link rel="icon" href="images/favicon/icon.svg">
    <link rel="mask-icon" href="images/favicon/mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">

    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $main := resources.Get "js/dist/main.min.js" | fingerprint }}
    <script
        type="text/javascript"
        src="{{ $main.Permalink }}"
        integrity="{{ $main.Data.Integrity }}"
    ></script>

    <meta property="ix:host" content="www.datocms-assets.com" />
    <meta property="ix:useHttps" content="true" />
    <meta property="ix:includeLibraryParam" content="false" />
    <!-- for lazysizes -->
    <meta property="ix:srcAttribute" content="data-src" />
    <meta property="ix:srcsetAttribute" content="data-srcset" />
    <meta property="ix:sizesAttribute" content="data-sizes" />
</head>